{{< layout}}

{{$content}}
    <h1 class="heading-xlarge">Feature Flag Service</h1>
    <table>
        <thead>
        <tr>
            <th>Feature</th>
            <th class="toggle-column">Toggle</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Feature 1</td>
            <td>
                <form>
                    <div class="form-group toggle-radio-btns">
                        <fieldset class="inline">
                            <div class="multiple-choice">
                                <input id="radio-inline-1" type="radio" name="radio-inline-group" value="On">
                                <label for="radio-inline-1">On</label>
                            </div>
                            <div class="multiple-choice">
                                <input id="radio-inline-2" type="radio" name="radio-inline-group" value="Off">
                                <label for="radio-inline-2">Off</label>
                            </div>

                        </fieldset>
                    </div>
                </form>
            </td>
        </tr>
        <tr>
            <td>Feature 2</td>
            <td>
                <form>
                    <div class="form-group toggle-radio-btns">
                        <fieldset class="inline">
                            <div class="multiple-choice">
                                <input id="radio-inline-1" type="radio" name="radio-inline-group" value="On">
                                <label for="radio-inline-1">On</label>
                            </div>
                            <div class="multiple-choice">
                                <input id="radio-inline-2" type="radio" name="radio-inline-group" value="Off">
                                <label for="radio-inline-2">Off</label>
                            </div>

                        </fieldset>
                    </div>
                </form>
            </td>
        </tr>
        <tr>
            <td>Feature 3</td>
            <td>
                <form>
                    <div class="form-group toggle-radio-btns">
                        <fieldset class="inline">
                            <div class="multiple-choice">
                                <input id="radio-inline-1" type="radio" name="radio-inline-group" value="On">
                                <label for="radio-inline-1">On</label>
                            </div>
                            <div class="multiple-choice">
                                <input id="radio-inline-2" type="radio" name="radio-inline-group" value="Off">
                                <label for="radio-inline-2">Off</label>
                            </div>

                        </fieldset>
                    </div>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
{{/content}}

{{/ layout}}